:root {
  --back: rgb(131, 154, 198);
  --aqua: aqua;
  --black: black;
  --white: white;
}
/* affects the header section */
header {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(97, 97, 248);
  color: var(--black);
  width: 100%;
  justify-content: start;
  padding-bottom: 50px;
}
/* Affects "Lucas Bielinski, sets font family */
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 30px;
  margin: 10px;
  border: 5px solid var(--black);
  background-color: var(--back);
}
/* sets rules for first nav section */
.top {
  padding: 20px;
  background-color: rgb(82, 82, 90);
  width: 100%;
  margin-bottom: 40px;
}
/* sets nav list to flex and pushes them down */
.top ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
/* sets rules for lis items, puts spacing between items */
.top ul li {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  font-family: serif;
}
/* takes away text decoration for links */
a {
  text-decoration: none;
  color: var(--black);
}
/* adds blue glow behing anchors */
a:hover {
  box-shadow: 5px 5px 5px 5px rgb(81, 81, 210);
}
/* container for about me section */
#aboutme {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background-color: var(--back);
}
/* connected to h2 about me heading */
.about {
  font-family: serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 5px solid var(--black);
}
/* sets size for profile image */
#aboutme img {
  height: 200px;
  width: 200px;
}
/* sets rules for first paragraph */
.desc {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-left: 12px;
  margin-top: 5px;
  flex-wrap: wrap;
}
/* sets container for worj section */
#mywork {
  display: flex;
  justify-content: center;
  background-color: var(--back);
}
/* a lot of magic here, worked with tutor */
/* sets rules for the direct div child */
#mywork > div {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
/* sets rules for first project image */
.mainimg {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
/* sets anchors to relative */
.mainimg a {
  width: 100%;
  height: 100%;
  position: relative;
}
.mainimg img {
  width: 100%;
  height: 100%;
}
/* moves figacption over the photo */
.mainimg figcaption {
  position: absolute;
  left: 0;
  bottom: 20%;
  background-color: var(--black);
  color: var(--white);
  font-family: serif;
}

#mywork nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#mywork h2 {
  font-family: serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 5px solid var(--black);
}
/* affects the anchors of the three other images */
.work a {
  background-color: aliceblue;
  width: 20%;
  position: relative;
}
/* affects only the images in work section */
.work a > img {
  width: 100%;
  height: 100%;
}
/* places figcaption over image */
.work figcaption {
  position: absolute;
  bottom: 20%;
  font-family: serif;
  background-color: var(--aqua);
  left: 0;
}
/* sets rules for contact me section */
#contactme {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color: var(--back);
  padding-top: 30px;
}
.contact {
  font-family: serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 5px solid var(--black);
}
/* made flex container for list items */
.info ul {
  display: flex;
}
.info ul li {
  margin-left: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  justify-content: center;
  font-weight: bolder;
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(195, 209, 222);
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  /* changes all rows to columns */
  .work,
  #aboutme,
  #contactme {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* changes width of images in work section */
  .work a {
    width: 80%;
  }
  /* moves headings to make them responsive */
  .about,
  .contact,
  .work h2 {
    border-bottom: 5px solid var(--black);
    border-right: none;
    flex-direction: column;
  }
  /* makes navs responsive */
  .top ul li {
    flex-direction: column;
    align-content: center;
  }

  .info ul {
    flex-direction: column;
  }
}
